html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  color: var(--font-color);
  background-color: var(--bg-main);
}

:root {
  --font: 'Karla', sans-serif;
  --font-color: #fff;
  --grad1: #feda75;
  --grad2: #fa7e1e;
  --grad3: #d62976;
  --grad4: #962fbf;
  --grad5: #4f5bd5;
  --viewed: gray;
  --bg-main: #000;
  --bg-live: red;
}

.stories-menu {
  margin: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story {
  list-style: none;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.img-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid var(--bg-main);
}

.new > .img-wrapper {
  background: linear-gradient( 45deg
    , var(--grad1)
    , var(--grad2)
    , var(--grad3)
    , var(--grad4)
    , var(--grad5)
  );
}

.viewed > .img-wrapper {
  background-color: var(--viewed);
}

.live::after {
  background-color: var(--bg-live);
  content: 'LIVE';
  font-size: 0.8em;
  padding: 2px 4px;
  border: 4px solid var(--bg-main);
  border-radius: 4px;
  position: absolute;
  top: 60%;
}