html, body {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000000;
  --red: #DE0002;
  --yellow: #FFCE00;
  --flag-height: 150px;
}

.flag-germany {
  height: var(--flag-height);
  width: calc(var(--flag-height)*5/3);
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.stripe {
  flex-grow: 1;
}

.black {
  background-color: var(--black);
}
.red {
  background-color: var(--red);
}
.yellow {
  background-color: var(--yellow);
}