html, body {
  margin: 0;
  padding: 0;
}

:root {
  --progressbar-bg: lightgrey;
  --start: red;
  --middle: blue;
  --finish: green;
} 

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 500px;
  height: 50px;
  background-color: var(--progressbar-bg);
  border-radius: 25px;
}

.progress-status {
  animation: progress-loop 5s linear infinite;
}

@keyframes progress-loop {
  0% {
    width: 10%;
    background-color: var(--start);
  }
  40% {
    width: 50%;
    background-color: var(--middle);
  }
  80% {
    width: 100%;
    background-color: var(--finish);
  }
  100%{
    width: 100%;
    background-color: var(--finish);
  }
}