* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  color: red;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card {
  width: 200px;
  height: 300px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  padding: 15px;
  font-size: 30px;
}

.middle {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 70px;
}

.middle div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right,
.middle div:nth-child(n+3) {
  transform: rotate(180deg);
}

.left > div,
.right > div {
  display: flex;
  justify-content: center;
  line-height: 0.75;
}

.left div:first-child,
.right div:first-child {
  font-size: 25px;
}
